asyncpg>=0.22,<0.23
bcrypt~=3.2.0
channels~=3.0.4
coverage>=5.3,<5.4
django==3.2
django-bootstrap-v5==1.0.11
django-filter==21.1
djangorestframework==3.13
djangorestframework-simplejwt==5.1.0
markdown==3.3
psycopg2>=2.8.6,<2.9
pyconfiger>=0.1.0,<0.2
pytest~=7.0
pytest-cov~=3.0.0
pytest-django~=4.5.2
