{% extends "base.html" %}

{% block content %}

    <div class="d-grid justify-content-center pt-5">
        <div class="row shadow-lg p-3 mb-5 bg-body rounded">
            <div class="col-12 text-center">
                <h5>Login</h5>
                {{ message }}
            </div>

            <form method="post" action="{{ url_for('post_login') }}">
                {% if error %}
                    <p class="text-danger">
                        Username or password is incorrect
                    </p>
                {% endif %}

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username"
                        value="{{ username }}"
                        {% if not username %} autofocus {% endif %}
                    >
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        {% if username %} autofocus {% endif %}
                    >
                </div>

                <input type="hidden" name="redirect_to" value="{{ redirect_to }}">
                <div class="d-grid gap-2 col-10 mx-auto">
                    <input type="submit" value="Login" class="btn btn-primary">
                    <a href="" class="btn btn-secondary">Lost password?</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
