{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="home">
        <canvas id="gamecanvas" class="border d-block mx-auto">
        </canvas>
    </div>
{% endblock %}

{% block extra_scripts %}
    {% if user.is_authenticated %}
        <script type="text/javascript">
         console.log(window.location.host);
         let socket = new WebSocket('ws://localhost:8000/game/');
         socket.onmessage = function (e) {
             console.log(e.data);
         };

         socket.onclose = function(e) {
             console.error('Chat socket closed unexpectedly');
         };

         socket.onopen = function(e) {
             socket.send(JSON.stringify({test: 'test'}));
         };
        </script>
    {% endif %}
    <script type="module">
     import Game from '{% static "main.js" %}'
     document.addEventListener('DOMContentLoaded', (event) => {
         Game.start();
     });
    </script>
{% endblock %}
