{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="home">
        <canvas id="gamecanvas" class="border d-block mx-auto">
        </canvas>
    </div>
{% endblock %}

{% block extra_scripts %}
    {% if user.is_authenticated %}
        <script type="text/javascript">
         console.log(window.location.host);
         let socket = new WebSocket('ws://localhost:8000/game/');

         socket.onclose = function(e) {
             if (e.code === 1000) {
                 console.log('closed socket')
             } else {
                 console.error('socket closed unexpectedly');
                 console.log(e);
             }
         };

         socket.onopen = function(e) {
         };
        </script>
    {% endif %}
    <script type="module">
     import Game from '{% static "main.js" %}'
     document.addEventListener('DOMContentLoaded', (event) => {
         let game = new Game();
         game.bindSocket(socket);
         game.start();
     });
    </script>
{% endblock %}
